:root { 
--teal_100_01:#bcd8e1; 
--black_900_b2:#000000b2; 
--blue_A400:#2872ff; 
--blue_gray_900_a2:#282936a2; 
--teal_100:#bdd9e1; 
--deep_purple_800_ed:#4b1c99ed; 
--black_900_01:#250505; 
--black_900_00:#00000000; 
--yellow_800:#f79e1b; 
--blue_gray_900_02:#2e2e3e; 
--blue_gray_900_01:#282936; 
--blue_gray_900_00:#28293600; 
--blue_gray_900:#2e2f3f; 
--purple_A200:#da37d4; 
--yellow_800_01:#eca71a; 
--teal_A700:#05b595; 
--gray_400:#b6b6b6; 
--blue_gray_100:#d9d9d9; 
--amber_500:#fabb05; 
--green_600_3f:#34a8533f; 
--yellow_700_01:#fab838; 
--indigo_200:#969ac7; 
--indigo_900_01:#243171; 
--blue_gray_900_a2_01:#2e2e3ea2; 
--yellow_700_6c:#f7bc246c; 
--teal_400_01:#21aa7f; 
--teal_400_87:#24b57487; 
--blue_gray_50:#edf0f3; 
--red_300:#ca9c64; 
--green_600:#34a853; 
--deep_purple_400_01:#774bbf; 
--teal_400:#24b574; 
--blue_gray_800_04:#3a3c53; 
--blue_gray_800_05:#3f415a; 
--blue_gray_800_02:#373849; 
--black_900_66:#00000066; 
--blue_gray_800_03:#3a3c52; 
--blue_A200_02:#538eff; 
--blue_gray_800_08:#3c2b58; 
--blue_A200_01:#538dff; 
--gray_500_01:#929497; 
--blue_gray_800_06:#40415a; 
--yellow_900:#f7931a; 
--blue_gray_800_07:#434451; 
--lime_800_01:#af7811; 
--teal_400_02:#2199aa; 
--red_300_02:#ee6969; 
--blue_gray_200:#98c2cf; 
--gray_500:#a0a0a0; 
--blue_gray_600:#5c5f80; 
--gray_900:#1f202d; 
--red_300_01:#cb9d65; 
--blue_gray_800_00:#3b2b5800; 
--blue_gray_800_01:#3a3b50; 
--white_A700_7f:#ffffff7f; 
--cyan_A100:#79ffff; 
--red_600:#e94235; 
--deep_purple_800:#4b1c99; 
--red_200:#ee9999; 
--deep_purple_400:#8b61d0; 
--blue_A200:#4285f4; 
--blue_gray_900_e5:#2e2f3fe5; 
--black_900_3f:#0000003f; 
--green_500:#4bcf51; 
--teal_300:#47bb8a; 
--teal_700:#009344; 
--pink_700:#b05458; 
--white_A700_19:#ffffff19; 
--blue_gray_700:#4e4f61; 
--purple_500:#ae22b1; 
--red_A700:#eb001b; 
--blue_gray_700_ab:#4a4c64ab; 
--gray_600:#727171; 
--lime_900:#87623a; 
--amber_700:#ec9d04; 
--yellow_A700:#fdd60f; 
--indigo_400:#447eb1; 
--gray_200_90:#eaeaea90; 
--gray_400_01:#c4c4c4; 
--green_600_00:#33a85300; 
--green_900_00:#0a481a00; 
--cyan_800:#16808f; 
--green_600_01:#33a852; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4a4c64; 
--red_500_01:#ee412c; 
--deep_purple_900:#140c95; 
--red_500:#ff2f2f; 
--blue_gray_700_a2:#4a4c64a2; 
--orange_300_01:#ebc457; 
--teal_400_3d:#24b5743d; 
--teal_600:#168f6a; 
--black_900:#000000; 
--yellow_700:#f7bc24; 
--gray_900_a2:#1f202da2; 
--blue_gray_800:#393b4f; 
--black_900_26:#00000026; 
--gray_900_02:#1f202e; 
--gray_900_03:#1f202f; 
--gray_700:#565769; 
--gray_900_04:#1d1d1b; 
--gray_900_05:#2a2a2a; 
--blue_gray_400:#7175a0; 
--green_A400_75:#0de06075; 
--white_A700_a2:#ffffffa2; 
--orange_A700:#ff5f00; 
--lime_800:#b37e3d; 
--gray_900_00:#420b0b00; 
--gray_900_01:#26252f; 
--blue_gray_900_03:#28362b; 
--blue_gray_600_01:#5d6081; 
--blue_gray_600_02:#556b74; 
--orange_300:#ebc152; 
--white_A700_00:#ffffff00; 
--black_900_cc:#000000cc; 
--black_900_33:#00000033; 
--gray_900_7e:#1f202d7e; 
--blue_gray_900_ab:#282936ab; 
--indigo_900:#0000a3; 
--blue_200:#a0d9f7; 
--indigo_500:#4f54ac; 
}